#banner {
  position: relative;
  display: block;
  overflow: hidden;
  height: auto;
  width: 100%;
}

@media (min-width: 1200px) {
  #banner {
    height: 100vh;
  }
}

#owl-list {
  display: block;
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 56vw;
  overflow: hidden;
}

@media (min-width: 1200px) {
  #owl-list {
    position: absolute;
    height: 100%;
  }
}

#owl-list .item, .owl-item {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

#owl-list .item span {
  display: block;
  position: absolute;
  width: 100%;
  min-height: 100% !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.owl-stage-outer, .owl-stage {
  height: 100%;
}

.owl-dots {
  position: absolute;
  bottom: 14%;
  right: 10%;
}

@media (min-width: 1200px) {
  .owl-dots {
    position: absolute;
    bottom: 50%;
    right: 10%;
  }
}

.owl-dot span {
  background-color: lightblue !important;
}

.owl-dot.active span {
  background-color: aqua !important;
}

